<p-toast></p-toast>

<body>
	<div class="parent clearfix">
		<div class="bg-illustration">

			<div class="burger-btn">
				<span></span>
				<span></span>
				<span></span>
			</div>

		</div>

		<div class="login">
			<div class="container">
				<h1>Connectez-vous pour accéder  <br /> à votre compte.</h1>

				<div class="login-form">
					<form action="">
						<label>E-mail</label>
						<input type="email" placeholder="E-mail" name="username" ng-model="username"
							[(ngModel)]="username" pInputText>
						<label>Mot de Passe</label>
						<input type="password" ng-model="password" name="password" [(ngModel)]="password"
							placeholder="Mot de Passe" pPassword>

						<div class="remember-form">
							<input type="checkbox">
							<span>Remember me</span>
						</div>
						<div class="forget-pass">
							<a [routerLink]="['/forgotpassword']">Mot de passe oublié ?</a>
						</div>

						<button type="submit" (click)="onSubmit()"> S'identifier </button>

                        <div class="register-link">
							<a [routerLink]="['/client/register']"><h2>Vous n'avez pas de compte ?créer un compte </h2></a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>