<!-- <div class="p-col-12 p-md-6 p-lg-4"> -->
    <div class="card p-fluid widget-contact-form">
        <h5>Update Password</h5>
        <div class="p-grid">
            <div class="p-col-12">
                <input type="text" pInputText placeholder="Old Password" [(ngModel)]="oldPassword" >
            </div>
            <div class="p-col-12">
                <input type="text" pInputText placeholder="New Password" [(ngModel)]="newPassword">
            </div>
            <div class="p-col-12">
                <input type="text" pInputText placeholder="Confirm Password" [(ngModel)]="confirmPassword">
            </div>
            <div class="p-col-12">
                <button type="button" label="update" icon="pi pi-check" pButton (click)="save()"></button>
            </div>
        </div>
    </div>
<!-- </div> -->