<body>

    <header>
      <div class="head-text">
        <p>404 Not Found</p>
      </div>
    </header>
  
    <main>
      <div class="main-wrapper">
        <picture class="scarecrow-img">
          <img src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png" alt="scarecrow">
        </picture>
        <div class="error-text">
          <h2>I have bad news for you</h2>
          <p>The page you are looking for might be removed or is temporarily unvailable.</p>
          <span class="input-group-btn">
            <button class="btn" type="button" [routerLink]="['']">Back to homepage</button>
          </span>
        </div>
      </div>
  
    </main>
  
 
  </body>